<html lang="RU_ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0" xmlns="http://www.w3.org/1999/html">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>{% block title %}Главная{% endblock title %}</title>

    {% block styles %}
    <link href="{{ url_for('static', filename = 'css/base.css') }}" rel="stylesheet">
    {% endblock styles %}

</head>


<body>
    <section class="hero is-primary if-fullheight">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-menu">
                    <a href="{{ url_for('index') }}" class="navbar-item">На главную</a>
                    <a href="{{ url_for('history') }}" class="navbar-item">История загрузок</a>
                    <a href="{{ request.referrer }}">Назад</a>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
</body>

{% block scripts %}
<script type="text/JavaScript" src="{{ url_for('static', filename = 'js/vue.min.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename = 'js/jquery-2.1.4.min.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename = 'js/base.js') }}"></script>
{% endblock scripts %}

</html>