{% extends "base.html" %}

{% block title %}О файле{% endblock title %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/table.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<div class="content">
    {% if data %}
    <table>
        <tr>
            <th>#</th>
            <th>Rep_dt</th>
            <th>Delta</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item.rep_dt}}</td>
            <td>{{item.delta}}</td>

        </tr>

        {% endfor %}
    </table>
    {% else %}
    <h2>Ошибка загрузки файла</h2>
    {% endif %}
</div>
{% endblock content %}