{% extends "base.html" %}

{% block title %}История загрузок{% endblock title %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/table.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}

<div class="content">
    {% if data %}
    <table>
        <tr>
            <th>№</th>
            <th>Файл</th>
            <th>Состояние</th>
            <th>Дата загрузки</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="file_info/{{ item.id }}">{{ item.filename }}</a></td>
            <td {% if item.status=="Успешно" %} id="done" {% endif %} {% if item.status=="Ошибка" %} id="failed" {%
                endif %} {% if item.status=="В процессе" %} id="in-progress" {% endif %}>{{ item.status }}</td>
            <td>{{ item.upload_date.strftime("%d.%m.%Y") }}</td>

        </tr>

        {% endfor %}
    </table>
    {% else %}
    <h2>Ошибка загрузки истории</h2>
    {% endif %}
</div>

{% endblock content %}