{% extends "base.html" %}


{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename = 'css/index.css') }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<h1 class="title">
    Техническое задание
</h1>
<hr>
<h3 class="subtitle">
    Выполнил Стольников Константин Юрьевич.
</h3>
<div class="description">
    <div class="element">
        Требуется разработать вэб-сервис на python с использованием одного из фреймворков (Django / Flask). Для хранения
        данных сервиса используется БД (PostgreSQL / MSSQL / MySQL).
    </div>
    <div class="element">
        Файл с тестовыми данными прилагается: «test_data.xlsx»
    </div>
    <div class="element">
        Предполагается, что файл лежит уже на сервере, и сервис может прочитать файл штатными средствами.
    </div>
    <div class="element">
        Описание функционала интерфейса:
        <ul>
            <li>Сервис проверяет каждую минуту локальное хранилище на наличие файлов формата .xlsx.</li>
            <li>В случае нахождения такого файла (или нескольких файлов) требуется загрузить данные из файла в таблицу в
                БД. После успешной загрузки данных файл нужно удалить.</li>
            <li>Для каждого файла нужно создавать новую таблицу.</li>
            <li>Требуется хранить историю загрузок данных и отображать её при запросе на странице сервиса в виде
                таблицы, где отображено имя созданной таблицы, статус и время загрузки.</li>
            <li>Строки в таблице истории загрузок должны быть кликабельны. При нажатии на конкретную запись должен быть
                совершен переход на новую страницу с данными из этой таблицы.</li>
        </ul>
    </div>

    <div class="element">
        Дополнительные условия:
        <ul>
            <li>Данные в файле «сырые». Предусмотреть обработку разных форматов сохранённой даты в файле.</li>
            <li>Рассмотреть случай неудачной попытки загрузки данных из файла.</li>
        </ul>
    </div>


</div>
{% endblock content %}