
table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5em;
}

table th {
    background-color: #ccc;
    font-weight: bold;
}

td#in-progress {
    color: rgba(25, 25, 176, 0.862);
}

td#done {
    color: rgba(30, 176, 25, 0.862);
}

td#failed {
    color: rgba(176, 25, 25, 0.862);
}